/* Add additional stylesheets below
-------------------------------------------------- */

@media only screen and (max-width: 979px) {
    .boards .media-player {
        margin: 10px auto 10px 100px;
    }
}

body {
    background-color: lightgrey;
}

.hide {
    display: none;
}

.boards {
    display: flex;
    flex-flow: row wrap;
}

#flex-player {
    background-image: url("https://i.imgur.com/pHBA49x.jpg");
    background-position: center;
    background-size: 490px 450px;
}

#opponent {
    background-image:url("https://i.imgur.com/pHBA49x.jpg");
    background-position: center;
    background-size 490px 450px;
}

.boards li{
    list-style: none;
    padding: 5px 10px;
}

.boards #flex-player {
    margin-top: auto;
}

.battleGrid {
    border: 1px solid white;
    border-spacing: 0px;
}

.battleGrid th {
    padding: 0px;
    width: 45px;
    border: 1px solid black;
    text-align: center;
}
.battleGrid tr {
    border: 1px solid white;
    height: 45px;
}

.battleGrid.shrink tr,.battleGrid.shrink th {
    height: 25px;
}

.battleGrid td {
    border: 1px solid white;
    width: 45px;
}

.battleGrid.shrink td,.battleGrid.shrink th {
    width: 25px;
}

td:hover {
    background-color: grey;
}

.placed {
    background-color: grey;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: red;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

.hide {
    display: none;
}

/*#place-menu {*/
    /*display: inline;*/
    /*color: darkslategray;*/
    /*border: 5px solid dodgerblue;*/
    /*padding: 100px;*/
/*}*/


