/* Add additional stylesheets below
-------------------------------------------------- */

@media only screen and (max-width: 979px) {
    .boards .media-player {
        margin: 10px auto 10px 100px;
    }
}

.hide {
    display: none;
}

.boards {
    display: flex;
    flex-flow: row wrap;
}

.boards li{
    list-style: none;
    padding: 5px 10px;
}

.boards #flex-player {
    margin-top: auto;
}

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
}

.battleGrid th {
    padding: 0px;
    width: 45px;
    border: 1px solid black;
    text-align: center;
}
.battleGrid tr {
    border: 1px solid black;
    height: 45px;
}

.battleGrid.shrink tr,.battleGrid.shrink th {
    height: 25px;
}

.battleGrid td {
    border: 1px solid black;
    width: 45px;
}

.battleGrid.shrink td,.battleGrid.shrink th {
    width: 25px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}


#place-menu > li {
    display: inline;
    padding: 20px;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #4C6A92; /* Green */
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    width: 200px;
}


.disabled:hover {
    opacity: 0.6;
    background-color: #4C6A92;
    cursor: not-allowed;
    color: darkslategray
}

button:hover {
    background-color: #4C6A92; /* Green */
    color: white;
}

.clicked {
    background-color: #4C6A92; /* Green */
    color: white;
}

.disabled {
    opacity: 0.6;
    background-color: #4C6A92;
    cursor: not-allowed;
}

.check {
    display: inline-block;
    margin: 4px;
}

.checkbox-container {
    text-align: center;
}

#place-menu-container {
    border-top: 1px solid black;
    text-align: center;
}