/* Add additional stylesheets below
-------------------------------------------------- */

.battleGrid {
    background: dodgerblue;
    display: inline-block;
    border: 1px solid black;
    border-spacing: 7px;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}


td:hover {
    background-color: lightblue;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: purple;
}

.hit {
    background-color: red;
}

.sink {
    background-color: darkred;
}

.miss {
    background-color: darkblue;
}