<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>The Battleship game</h1>

<button id="start-button"> Start Game </button>

<ul class="boards">
    <li><table id="opponent" class="battleGrid hide"></table></li>
    <li id="flex-player"><table id="player" class="battleGrid"></table></li>
</ul>


<ul id="place-menu" class="hide">
    <li><button id="place_minesweeper">Place Minesweeper</button></li>
    <li><button id="place_destroyer">Place Destroyer</button></li>
    <li><button id="place_battleship">Place Battleship</button></li>
    <li><input type="checkbox" id="is_vertical">Vertical</input></li>
</ul>

<div id="attack-menu" class="hide">
    Click location on opponents board to attack that location
</div>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>