<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<div id="button-container"><button id="start-button"> Start Game </button></div>

<ul id="states" class="win-lose hide fadein">
    <li id="win" class="end-game hide"><div>You won the game!</div></li>
    <li id="lose" class="end-game hide"><div>You lost the game!</div></li>
    <div><button id="new-game" onClick="window.location.reload()">New Game</button></div>
</ul>

<ul id="board-container" class="boards">
    <li><table id="opponent" class="battleGrid hide"></table></li>
    <li id="flex-player"><table id="player" class="battleGrid"></table></li>
</ul>

<ul id="info-menu" class="fadein-fast hide">
    <li>
        <div id="first-sunk-info">
            <p class="info-header">ONE TIME TOOLTIP:</p>
            <button id="close-info">X</button>
            <p class="info-text">You have sunk your first ship! Your bombs have now changed to a Space Laser! It can now penetrate through the water. You may have to re-hit old locations since something could have been there!
                You also now have access to the sonar pulse. Hover over the button to see what it does!</p>
        </div></li>
</ul>

<div id="error-menu" class="hide">
</div>

<div id="place-menu-container" class="hide">
    <ul id="place-menu" class="place">
        <li><button id="place_minesweeper">Place Minesweeper</button></li>
        <li><button id="place_destroyer">Place Destroyer</button></li>
        <li><button id="place_battleship">Place Battleship</button></li>
        <li><button id="place_submarine">Place Submarine</button></li>
    </ul>

    <div class="checkbox-container">
        <div class="check"><input type="checkbox" id="is_vertical" >Vertical</input></div>
        <div id="submerge-option" class="check"><input type="checkbox" id="submerge" >Submerge</input></div>
    </div>
</div>

<div id="attack-menu" class="hide">
    <li class="sonar_container">
        <button id="place_sonar" class="hide">Place Sonar
            <div class="sonar_tooltip">This sonar pulses a radar on the board to located the enemy ships.
                The radar exposes open water (grey), ships (black), and the center of the sonar pulse with a black circle. You get two sonar pulses!
            </div>
        </button>
    </li>
    <span> Click location on opponents board to attack that location </span>
</div>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>
